# Ignore tudo
/*

# Não ignore estes arquivos:
!.gitignore
!README.md

# Inclui diretórios:
!*/
*/*
!*/EK_*.*
!*/*/
*/*/*
!*/*/EK_*.*
!js/plugins/*.d.ts

# Inclui arquivos
!js/jsconfig.json
!js/lunalite-pixi-mv.d.ts
